
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-black: #000;
    --color-white: #fff;
    --primary-font: "Montserrat", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
}